# This is a example of a configuration file

# Telegram keys
TELEGRAM_API_TOKEN = ''
TELEGRAM_API_CHAT_ID = ''

# Twitter keys
TWITTER_API_KEY = ''
TWITTER_API_KEY_SECRET = ''
TWITTER_API_TOKEN = ''
TWITTER_API_TOKEN_SECRET = ''
